:root {
  --color-red: #ff5959;
  --color-black: #151515;
  --color-purple: #854dff;
  --color-light-grey: #f0f0f0;
  --color-grey: #716f6f;
  --color-line: #dcdcdc;
  --color-white: #ffffff;
}
@font-face {
  font-family: "Poppins";
  src: url(assets/fonts/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(assets/fonts/Poppins-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url(assets/fonts/Poppins-bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(assets/fonts/Poppins-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url(assets/fonts/Poppins-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  font-size: 1.6rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-line);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-grey);
  padding: 7.5rem;
  border-radius: 2.5rem 2.5rem 25rem 2.5rem;
}

.form-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form-separator {
  width: 50%; /* Assurez-vous que le séparateur s'étend sur toute la largeur */
  border-top: 1px solid #ccc; /* Style de la ligne de séparation */
}

.form {
  display: flex;
  flex-grow: 1;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__input {
  font-size: 3.2rem;
  font-weight: bold;
  padding: 1.25rem;
  width: 20rem;
  margin-right: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--color-line);
  color: var(--color-grey);
  caret-color: var(--color-purple);
}

.form__input:focus {
  color: var(--color-black);
  border: 1px solid var(--color-purple);
  outline: 1px solid var(--color-purple);
}

.form__label {
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-grey);
}

#day-error,
#month-error,
#year-error {
  color: var(--color-red);
  display: none;
}

.button-and-separator {
  display: flex;
  align-items: center;
  width: 100%;
}
.separator {
  flex-grow: 1;
  height: 1px;
  background-color: var(--color-line);
}
.form__submit-btn {
  margin-top: 2.5rem;
  padding: 1.5rem;
  align-self: flex-end;
  background-color: var(--color-purple);
  border: none;
  border-radius: 50rem;
}
.form__submit-btn:hover {
  background-color: var(--color-black);
  cursor: pointer;
}

.display {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.display__item {
  display: flex;
  flex-grow: 1;
}

p {
  font-size: 10.4rem;
  font-weight: 800;
  font-style: italic;
}

.display__number-years,
.display__number-months,
.display__number-days {
  margin-right: 2.5rem;
  color: var(--color-purple);
}

.footer {
  margin-top: 2.5rem;
}

/* responsive */
@media (max-width: 1366px) {
  .main {
    padding: 4rem;
  }
  .form__input {
    width: 18rem;
  }
  p {
    font-size: 9rem;
  }
}
@media (max-width: 850px) {
  .main {
    padding: 2.5rem;
  }

 
}

@media (max-width: 850px) {
  .form__input {
    width: 15rem;
  }
  p {
    font-size: 8rem;
  }
}

@media (max-width: 575px) {
  .form__input {
    width: 12.5rem;
    font-size: 2.8rem;
  }
  p {
    font-size: 7rem;
  }
}

@media (max-width: 485px) {
  .main {
    border-radius: 2.5rem 2.5rem 10rem 2.5rem;
    padding: 2rem;
  }
  body {
    min-height: 80vh;
  }

  .form__input {
    width: 12rem;
    font-size: 2.4rem;
    margin-right: 1rem;
  }
  p {
    font-size: 6rem;
  }
  .button-and-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .separator {
    display: none;
  }
  .button-and-separator::before,
  .button-and-separator::after {
    content: ""; /* Nécessaire pour que les pseudo-éléments soient générés */
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-line);
  }
  .img {
    width: 3.5rem;
  }
  .form__submit-btn {
    margin-top: 2rem;
  }
}

@media (max-width: 440px) {
  .form__input {
    padding: 1rem;
    font-size: 2rem;
    width: 10rem;
  }
  .form__label {
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
  }
  p {
    font-size: 5rem;
  }
  span {
    font-size: 1.4rem;
    margin-right: 0.5rem;
  }
}

@media (max-width: 375px) {
  .form__input {
    padding: 1rem;
    font-size: 1.8rem;
    width: 9rem;
  }
  .form__label {
    font-size: 1.1rem;
  }
  p {
    font-size: 4.5rem;
  }
  .img {
    width: 2.5rem;
  }
}

@media (max-width: 350px) {
  body {
    min-height: 95vh;
  }
  .main {
    padding: 1rem;
  }
  p {
    font-size: 4rem;
  }
  .form__input {
    padding: 1rem;
    font-size: 1.6rem;
    width: 8.5rem;
  }
  .form__label {
    font-size: 1rem;
  }
}
